/* HEADER STYLING */

@font-face {
  font-family: montserrat;
  src: url(./Montserrat-Bold.ttf);
}
@font-face {
  font-family: inter;
  src: url(./Inter-VariableFont_slnt.ttf);
}
.header {
  /* display: grid;
  grid-template-columns: 30% 70%; */
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
}
/* Removes underline from <Link> components */
a:-webkit-any-link {
  text-decoration: none;
  color: black;
}
.appName {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "montserrat";
}
.blackAppName {
  color: black;
}
.redAppName {
  color: #ea2727;
}
.flexRow {
  display: flex;
  justify-content: space-evenly;
}
