form {
  display: flex;
  justify-content: center;
}

list,
.profile {
  text-align: center;
}

li {
  width: 300 px;
}

.leftH3 {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  text-align: left;
}
