form {
  display: flex;
  justify-content: center;
}

list,
.profile {
  text-align: center;
}

li {
  width: 300 px;
}

.leftH3 {
  font-family: interExtraBold, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.css-10hbu.MuiListItemText-primary {
  font-family: interSemiBold, Arial, Helvetica, sans-serif;
}
